@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .flex-center,
  .flex-end,
  .flex-space-around {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 24px;
  }
  .welcome-div {
    p {
      font-size: 14px;
    }
  }
  .display-none {
    display: none;
  }

  .show-info,
  .welcome-div {
    width: auto;
  }

  .welcome-div {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }

  .show-info {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}
