.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 2%;

  > div {
    border-radius: 10px;
  }
}

/*----------------------------------------------------------------*/

.navlike {
  grid-area: 1 / 1 / 2 / 4;
  background-color: wheat;
  &-logo {
    background: url("/dist/img/coronavirus-logo.png") no-repeat center/cover;
    width: 70px;
    height: 70px;
  }
}
.div2 {
  grid-area: 1 / 1 / 2 / 4;
  background-color: black;
}
.show-info {
  grid-area: 2 / 1 / 4 / 3;
  background-color: blue;
  &-situation {
    display: flex;
    justify-content: space-evenly;
    div {
      background-color: white;
      border-radius: 10px;
      padding: 1vmin;
      font-size: 1.5vmin;
    }
  }
}
.selects-div {
  grid-area: 2 / 3 / 4 / 4;
  background-color: orange;
}

.display-none {
  display: none;
}

//----//

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: black;
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select-wrapper {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select-wrapper::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select-wrapper:hover::after {
  color: #f39c12;
}
